
/* navbar */



.navbarnav-color{
	background-color: #A0C341;
}

.navbar-right{
	padding-right: 50px;
}


/* footer */
.footer{

	color:#A0C341;
}

/* navbar */

.navbar-color{
	color:#f00;
}



/* footer */
.footer-bar{
	size: 40em;
}