
/* navbar 蝟餃�� ======================== */

/* navbar �擃蜓� */
.navbar-default {
    background-color: #FFA500;
}

/* navbar 摮�� */
.navbar{
	font-size: 14px;
	text-shadow:0px 0px 0px #000000;
}

/* navbar 摮�� */
.navbar-default .navbar-nav > li > a {
    color: #FFFAFA;
}

.navbar-default .navbar-text {
    color: #000000;
}



/* navbar 皛�� 摮����� */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #FFDD55;
    color: #000000;
}

/* navbar ���銝� 摮����� */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000000;
    text-shadow:0px 0px 0px #D2691E;
    background-color: #FFA500; 
}

/* navbar ����� dropdown */
.navbar-default .dropdown-menu > li > a, .navbar-default .dropdown-menu > li > a:focus {
    color: #000000;
    text-shadow:0px 0px 0px #000000;
    background-color: #FFA500;
}

/* navbar����� dropdown 皛�� 摮����� */
.navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > .active > a, .navbar-default .dropdown-menu > .active > a:hover {
    background-color: #FFC229;
    text-shadow:0px 0px 0px #000000;
    color: #000000;
}

/* navbar 蝟餃�� ======================== */


.navbar-text {
     float: none; 
}

