<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA104G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.employee.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee/employee.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsdetailServlet</servlet-name>
    <servlet-class>com.newsdetail.controller.NewsdetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsdetailServlet</servlet-name>
    <url-pattern>/newsdetail/newsdetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HealthNewsDetailServlet</servlet-name>
    <servlet-class>com.healthnewsdetail.controller.HealthNewsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthNewsDetailServlet</servlet-name>
    <url-pattern>/healthnewsdetail/healthnewsdetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarComplainServlet</servlet-name>
    <servlet-class>com.carcomplain.controller.CarComplainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarComplainServlet</servlet-name>
    <url-pattern>/carcomplain/carcomplain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HcComplainServlet</servlet-name>
    <servlet-class>com.hccomplain.controller.HcComplainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HcComplainServlet</servlet-name>
    <url-pattern>/hccomplain/hccomplain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MealComplainServlet</servlet-name>
    <servlet-class>com.mealcomplain.controller.MealComplainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MealComplainServlet</servlet-name>
    <url-pattern>/mealcomplain/mealcomplain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopComplainServlet</servlet-name>
    <servlet-class>com.shopcomplain.controller.ShopComplainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopComplainServlet</servlet-name>
    <url-pattern>/shopcomplain/shopcomplain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsDBGifReader</servlet-name>
    <servlet-class>com.newsdetail.controller.NewsDBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDBGifReader</servlet-name>
    <url-pattern>/newsdetail/newsimgread.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HealthNewsDBGifReader</servlet-name>
    <servlet-class>com.healthnewsdetail.controller.NewsDBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthNewsDBGifReader</servlet-name>
    <url-pattern>/healthnewsdetail/healthimgread.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
    <param-value>307200</param-value>
  </context-param>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.message.controller.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message/message.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidMemberController</servlet-name>
    <servlet-class>com.android.member.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidMemberController</servlet-name>
    <url-pattern>/android/MemberController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidSetMealController</servlet-name>
    <servlet-class>com.android.setMeal.controller.SetMealController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidSetMealController</servlet-name>
    <url-pattern>/android/SetMealController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidMealOrderController</servlet-name>
    <servlet-class>com.android.mealOrder.controller.MealOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidMealOrderController</servlet-name>
    <url-pattern>/android/MealOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidHcEmpController</servlet-name>
    <servlet-class>com.android.emp.controller.HcEmpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidHcEmpController</servlet-name>
    <url-pattern>/android/HcEmpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidCarTypeController</servlet-name>
    <servlet-class>com.android.carType.controller.CarTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidCarTypeController</servlet-name>
    <url-pattern>/android/CarTypeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidCarOrderController</servlet-name>
    <servlet-class>com.android.carOrder.controller.CarOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidCarOrderController</servlet-name>
    <url-pattern>/android/CarOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidHcOrderMasterController</servlet-name>
    <servlet-class>com.android.hcOrderMaster.controller.HcOrderMasterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidHcOrderMasterController</servlet-name>
    <url-pattern>/android/HcOrderMasterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidEmpServiceDetailController</servlet-name>
    <servlet-class>com.android.websocket.EmpServiceDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidEmpServiceDetailController</servlet-name>
    <url-pattern>/android/EmpServiceDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DishServlet</servlet-name>
    <servlet-class>com.dish.controller.DishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishServlet</servlet-name>
    <url-pattern>/dish.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetMealServlet</servlet-name>
    <servlet-class>com.setmeal.controller.SetMealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetMealServlet</servlet-name>
    <url-pattern>/setMeal.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MealOrderServlet</servlet-name>
    <servlet-class>com.mealorder.controller.MealOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MealOrderServlet</servlet-name>
    <url-pattern>/MealOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.menu.controller.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/Menu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBPicReader</servlet-name>
    <servlet-class>com.shop.tool.DBPicReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBPicReader</servlet-name>
    <url-pattern>/DBPicReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBPicReader2</servlet-name>
    <servlet-class>com.shop.tool.DBPicReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBPicReader2</servlet-name>
    <url-pattern>/DBPicReader2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBPicReader3</servlet-name>
    <servlet-class>com.shop.tool.DBPicReader3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBPicReader3</servlet-name>
    <url-pattern>/DBPicReader3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.detail.controller.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/shop.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShopOrderServlet</servlet-name>
    <servlet-class>com.detail.controller.ShopOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopOrderServlet</servlet-name>
    <url-pattern>/order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.detail.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProServlet</servlet-name>
    <servlet-class>com.detail.controller.ProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProServlet</servlet-name>
    <url-pattern>/pro.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404/404.html</location>
  </error-page>
  <servlet>
    <servlet-name>employeePhotoServlet</servlet-name>
    <servlet-class>com.employee_photo.controller.EmployeePhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeePhotoServlet</servlet-name>
    <url-pattern>/employee_photo/employeePhoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HcWorkshiftsServlet</servlet-name>
    <servlet-class>com.hcworkshifts.controller.HcWorkshiftsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HcWorkshiftsServlet</servlet-name>
    <url-pattern>/HcWorkshifts/HcWorkshiftsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HcOrderController</servlet-name>
    <servlet-class>com.hcorder.controller.HcOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HcOrderController</servlet-name>
    <url-pattern>/HcOrder/HcOrderController.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front/member/MemberHcOrder.jsp</url-pattern>
    <url-pattern>/front/member/MemberInfo.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
</web-app>